on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - id: step1 
         run: echo "test=hello" >> $GITHUB_OUTPUT
      - name: Some other step
         run: Echo ${{ steps.tstep1.outputs.test }}
        

        
